* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f8f9;
}
/* color page */

.container-img{
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    background-color: white;
    width: 100%;
}

.title{
    display: inline-block;
    color: #041931;
    vertical-align: 58%;
    font-size: 20px;
}

main{
    margin-top: 40px;
}

.container-main{
    border-top: 40px;
    width: 60%;
    margin: auto;
    height: 60px;
    background-color: white;
    border-radius: 10px;
}

.task{
    padding: 5px;
    background-color: #47adf1;
    border-radius: 10px;
    border-color: #47adf1;
    color: white;
    margin-top: 20px;
    margin-left: 50px;
}

#section{
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    border-color: gray ;
    color: gray;
    margin-top: 20px;
}

.link{
    margin-top: 2px;
    height: auto;
}

.main {
    padding-left: 50px;
    padding-top: 35px;
    font-size: 30px;
}

.content {
    font-size: 20px;
}

.task2{
    padding: 5px;
    background-color: #47adf1;
    border-radius: 10px;
    border-color: #47adf1;
    color: white;  
}

.task3{
    padding: 5px;
    background-color: #9c72e4;
    border-radius: 10px;
    border-color: #9c72e4;
    color: white;  
}

.task4{
    padding: 5px;
    background-color: #64c0a9;
    border-radius: 10px;
    border-color: #64c0a9;
    color: white;  
}

.task5{
    padding: 5px;
    background-color: #f29e33;
    border-radius: 10px;
    border-color: #f29e33;
    color: white;  
}

.task6{
    padding: 5px;
    background-color: #d863a1;
    border-radius: 10px;
    border-color: #d863a1;
    color: white;  
}

.task7 {
    padding: 5px;
    background-color: #b0c926;
    border-radius: 10px;
    border-color: #b0c926;
    color: white;  
}

.task8{
    padding: 5px;
    background-color: #47adf1;
    border-radius: 10px;
    border-color: #47adf1;
    color: white;  
    margin-bottom: 40px;
}

.app-footer {
    text-align: center;
    padding-top: 25px;
}